{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h2 class="mb-4">Available Quizzes</h2>
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for quiz in quizzes %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ quiz.title }}</h5>
                    <p class="card-text">Number of questions: {{ quiz.questions|length }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{{ url_for('quiz.take_quiz', quiz_id=quiz.id) }}" class="btn btn-sm btn-success">Take Quiz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">No quizzes available.</h5>
                    <p class="card-text">Please check back later for available quizzes!</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
